.loading{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100svh;
  justify-content: center;
  left:0;
  position: fixed;
  width: 100%;
  z-index: 99999999999;
}

.loadingLogo{
  height: 250px;
  width: 250px;
}